{% extends 'base.html' %}

{% block title %}
    login
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="/static/css/login_findpwd.css">

{% endblock %}

{% block content %}
    <div class="login-block">
        <div class="form">
            <form action="" method="post" novalidate autocomplete="off">
                {% csrf_token %}
                {{ login_form.as_p }}
                <input class="btn btn-login" type="submit" value="Login">
            </form>
            <div class="bottom">
            <span>
                <a href="/user_register/">
                    register
                </a>
            </span>
            </div>
        </div>
    </div>



{% endblock %}



{% block style %}
    <style>
    </style>
{% endblock %}


