{% extends 'base.html' %}

{% block title %}
    Register
{% endblock %}
{% block header %}
    <link rel="stylesheet" href="/static/css/login_findpwd.css">
{% endblock %}

{% block content %}
    <div class="login-block">
        <div class="form">
            <form action="" method="post" novalidate autocomplete="off">
                {% csrf_token %}
                {{ register_form.as_p }}
                {#form.as_p Automatically generate input tags#}
                <input type="submit" class="btn-login" value="submit">
            </form>
        </div>
    </div>

{% endblock %}



{% block style %}
    <style>
    </style>
{% endblock %}


