{% extends 'base.html' %}

{% block title %}
    hotel_manage
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
    <div style="margin-bottom: 20px">
        <ul class="nav justify-content-center nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="{% url 'hotel_manage_list' %}">Hotel Manage</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Price Plan</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Dashboard</a>
            </li>
        </ul>
    </div>
    <div class="container">
        <h3>{{ hotel.name }}</h3>
        <div style="margin-bottom: 15px" class="text-right">
            <a class="btn btn-success btn-sm" href="">Add Image</a>
        </div>
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">description</th>
                <th scope="col">image</th>
                <th scope="col">option</th>
            </tr>
            </thead>
            <tbody>
            {% for img in img_list %}
                <tr>
                    <td>{{ img.desc }}</td>
                    <td>
                        <div class="hotel-img">
                            <img src="{{ img.url }}" alt=""
                                 class="hotel-img2"
                            >
                        </div>
                    </td>

                    <td>
                        <a class="btn-sm btn-danger"
                           href=""
                        >delete
                        </a>
                    </td>
                </tr>
            {% endfor %}


            </tbody>
        </table>

    </div>
{% endblock %}

{% block script %}
{% endblock %}

{% block style %}
    <style>
        .hotel-img {
            width: 100px;
        }

        .hotel-img2 {
            width: 100%
        }
    </style>
{% endblock %}